<div class = 'show'>
  <% unless @orders.present? %>
  <h1>No order in restaurant. </h1>
  <%end%>
  <% if @orders.present? && current_user.admin? && policy(@orders).search? %>
    <div id ="my_select">
      <%= form_tag(url: search_path, method: 'get', remote: true ) do%>
      <%= select_tag('Filter', options_for_select([['Filter',1],['Ordered',2],['Completed',3],['Cancelled',4]])) %>
      <%end%>
    </div>
  <%end%>
    <div id= 'renderorder'>
      <%= render partial: "render", locals: {order: @orders}%>
    </div>
</div>
