
<div class = 'show'>
  <% unless @orders.present? %>
  <h1>No order in restaurant. </h1>
  <%end%>
  <% if @orders.present? && current_user.admin? && policy(@orders).search? %>
    <div id = 'my_select'>
      <%= form_tag(url: search_path, method: 'get', remote: true ) do%>
      <%= select_tag('Filter', options_for_select([['All',1],['ordered',2],['completed',3],['cancelled',4]])) %>
      <%end%>
    </div>
  <%end%>
  <div id= 'renderorder'>
    <%= render partial: 'render', locals: {order: @orders}%>
  </div>
</div>
<%# <script>
document.querySelector('select').addEventListener('change', function(e){
  console.log('asd');
    var status = document.getElementById("Filter");
    var index = status.options[status.selectedIndex].text;
    $.ajax({
      url: '/search',
      data: {status: index}
      });
  })
</script> %>