<div class = 'show'>
  <% if @carts.present? %>
    <div class ='item-display'>
        <div id = 'itemrender'>
          <%= render partial: 'quantityrender', locals: {carts: @carts}%>
        </div>
    </div>
  <%elsif @carts.blank?%>
    <h4>No items in cart.</h4>
  <%end%>
</div>
<script>
function update_cart(item, status) {
    $.ajax({
      url: '/quantity',
      data: {
        item_title: item,
        status: status
        }
      });
  }
</script>