<% @restaurants.each do |rest|%>
  <h2><%= rest.name %></h2>
  <%= link_to 'Explore Restaurant' , rest, class: 'link1'%>
  <% if policy(rest).destroy?%>
    <%= link_to ' Delete Restaraunt', rest , method: :delete, data: {confirm: "Are you sure biro!"}, class: 'link2'%>
  <%end%>
<%end%>
<br>
<% if current_user&.admin? %>
  <%= link_to 'New restaurant', new_restaurant_path, class: 'link1'%>
<% end %>
    
    